<div class="container py-5">
  <div class="row h-100 justify-content-center align-items-center mt-5">
    <div class="col-md-4">
      @if(loading){
        <div class="shimmer-wrapper text-center">
            <div class="shimmer-circle shimmer-circle-md shimmer-animate rounded-3 my-5 w-100" style="height:30rem;"></div>
        </div>
      }@else{
        <div class="card">
          <div class="card-header text-center bg-primary text-white">
            <h4 class="p-2">
              <i class="bi bi-lock me-1"></i> Sign Up
            </h4>
          </div>
          <div class="card-body">
            <h1 class="text-center mb-2 auth-icon text-primary"><i class="bi bi-person-circle"></i></h1>
            <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" method="POST" autocomplete="off">
              <p class="card-text fw-bold text-muted text-center mb-4">
                <small>Please complete the form below.</small>
              </p>

              <div *ngIf="f.submitted && failed && messageFailed!= ''" class="alert alert-danger" role="alert">
                  {{ messageFailed }}
              </div>

              <div *ngIf="f.submitted && !failed && messageSuccess!= ''" class="alert alert-success" role="alert">
                  {{ messageSuccess }}
              </div>

              <div class="input-group mb-3">

                <input
                    type="email"
                    class="form-control"
                    name="email"
                    placeholder="Email Address"
                    [(ngModel)]="form.email"
                    required
                    [email]="true"
                    #email="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
                />

                <span class="input-group-text" id="basic-addon1">
                  <i class="bi bi-envelope"></i>
                </span>

                <div *ngIf="email.errors && f.submitted" class="invalid-feedback">
                  <div *ngIf="email.errors['required']">Email Address is required</div>
                  <div *ngIf="email.errors['email']">Please provide a valid email address</div>
                </div>

              </div>
              <div class="input-group mb-3">

                <input
                    type="password"
                    class="form-control"
                    name="password"
                    placeholder="Password"
                    [(ngModel)]="form.password"
                    required
                    minlength="8"
                    #password="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
                  />

                <span class="input-group-text" id="basic-addon2">
                  <i class="bi bi-key"></i>
                </span>

                <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                  <div *ngIf="password.errors['required']">Password is required</div>
                  <div *ngIf="password.errors['minlength']">
                    Password must be at least 8 characters
                  </div>
                  <div *ngIf="password.errors['confirmed']">The password confirmation does not match.</div>
                </div>

              </div>
              <div class="input-group mb-3">

                <input
                    type="password"
                    class="form-control"
                    name="password_confirm"
                    placeholder="Password Confirmation"
                    [(ngModel)]="form.password_confirm"
                    required
                    minlength="8"
                    #password_confirm="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && password_confirm.errors }"
                  />

                <span class="input-group-text" id="basic-addon3">
                  <i class="bi bi-key"></i>
                </span>

                <div *ngIf="password_confirm.errors && f.submitted" class="invalid-feedback">
                  <div *ngIf="password_confirm.errors['required']">Password Confirmation is required</div>
                  <div *ngIf="password_confirm.errors['minlength']">
                      Password Confirmation must be at least 8 characters
                  </div>
                </div>

              </div>

              @if(loadingSubmit){
                <button type="submit" class="btn btn-primary w-100 disabled" bbbTooltipTheme='dark' bbbTooltipPlacement='vertical' bbbTooltip='Create new account now'>
                  <i class="spinner-border spinner-border-sm me-1"></i> Register
                </button>
              }@else {
                <button type="submit" class="btn btn-primary w-100" bbbTooltipTheme='dark' bbbTooltipPlacement='vertical' bbbTooltip='Create new account now'>
                  <i class="bi bi-pencil me-1"></i> Register
                </button>
              }

              <div class="mt-3 text-center">
                <a class="text-decoration-none" [routerLink]="['/auth/login']" bbbTooltipTheme='dark' bbbTooltipPlacement='vertical' bbbTooltip='Users enter their email and password in the designated fields to access their accounts'>
                  <i class="bi bi-arrow-left me-1"></i>Already have an account ? <strong>Log In</strong>
                </a>
              </div>
            </form>
          </div>
        </div>
      }
    </div>
  </div>
</div>
