<div class="container py-5">
  <div class="row h-100 justify-content-center align-items-center mt-5">
      <div class="col-md-4 text-center">
          <h1><i class="bi bi-wifi-off font-error"></i></h1>
          <h1 class="display-1 fw-bold">503</h1>
          <h2>Service Unavailable</h2>
          <p class="text-muted">
              <strong>
                  The server is temporary busy, try again later!
              </strong>
          </p>
          <p>
              <a [routerLink]="['']">Go back</a>
          </p>
      </div>
  </div>
</div>
