<header class="py-5">
  <div class="container px-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xxl-6">
        @if(loading){
          <div class="text-center my-5 shimmer-wrapper">
              <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
              <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
              <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
              <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
              <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
          </div>
        }@else{
            <div class="text-center my-5">
              <h1 class="fw-bolder mb-3">{{ content.header.title}}</h1>
              <p class="lead fw-normal text-muted mb-4">{{ content.header.description}}</p>
              <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
            </div>
        }
      </div>
    </div>
  </div>
</header>
<section class="py-5 bg-light" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h2 class="fw-bolder mb-0">A better way to start building.</h2>
      </div>
      <div class="col-lg-8">
        <div class="row gx-5 row-cols-1 row-cols-md-2">
            @if(loading){
              <div class="col mb-5 h-100">
                  <div class="shimmer-wrapper">
                      <div class="profile">
                          <div class="shimmer-line shimmer-line-md shimmer-animate" style="height:3rem; width:4rem;"></div>
                          <div class="profile-data">
                              <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                              <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                          </div>
                      </div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                  </div>
              </div>
              <div class="col mb-5 h-100">
                  <div class="shimmer-wrapper">
                      <div class="profile">
                          <div class="shimmer-line shimmer-line-md shimmer-animate" style="height:3rem; width:4rem;"></div>
                          <div class="profile-data">
                              <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                              <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                          </div>
                      </div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                  </div>
              </div>
              <div class="col mb-5 mb-md-0 h-100">
                  <div class="shimmer-wrapper">
                      <div class="profile">
                          <div class="shimmer-line shimmer-line-md shimmer-animate" style="height:3rem; width:4rem;"></div>
                          <div class="profile-data">
                              <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                              <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                          </div>
                      </div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                  </div>
              </div>
              <div class="col h-100">
                  <div class="shimmer-wrapper">
                      <div class="profile">
                          <div class="shimmer-line shimmer-line-md shimmer-animate" style="height:3rem; width:4rem;"></div>
                          <div class="profile-data">
                              <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                              <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                          </div>
                      </div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                  </div>
              </div>
            }@else{
              @for (service of content.services; track service; let idx = $index) {
                <div class="col mb-5 h-100">
                  <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i [ngClass]="service.icon"></i>
                  </div>
                  <h2 class="h5">{{ service.title }}</h2>
                  <p class="mb-0">{{ service.description }}</p>
                </div>
              }
            }
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container px-5 my-5">
    <div class="text-center">
      <h2 class="fw-bolder">Our Customer</h2>
      <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
    </div>
    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
        @if(loading){
          <div class="col mb-5 mb-5 mb-xl-0">
              <div class="text-center shimmer-wrapper">
                  <div class="profile">
                      <div class="shimmer-circle shimmer-circle-md shimmer-animate"></div>
                      <div class="profile-data">
                          <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                          <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                      </div>
                  </div>
                  <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                  <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
               </div>
          </div>
          <div class="col mb-5 mb-5 mb-xl-0">
              <div class="text-center shimmer-wrapper">
                  <div class="profile">
                      <div class="shimmer-circle shimmer-circle-md shimmer-animate"></div>
                      <div class="profile-data">
                          <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                          <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                      </div>
                  </div>
                  <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                  <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
               </div>
          </div>
          <div class="col mb-5 mb-5 mb-sm-0">
              <div class="text-center shimmer-wrapper">
                  <div class="profile">
                      <div class="shimmer-circle shimmer-circle-md shimmer-animate"></div>
                      <div class="profile-data">
                          <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                          <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                      </div>
                  </div>
                  <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                  <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
               </div>
          </div>
          <div class="col mb-5">
              <div class="text-center shimmer-wrapper">
                  <div class="profile">
                      <div class="shimmer-circle shimmer-circle-md shimmer-animate"></div>
                      <div class="profile-data">
                          <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                          <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                      </div>
                  </div>
                  <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                  <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
               </div>
          </div>
        }@else{
          @for (customer of content.customers; track customer; let idx = $index;) {
            <div class="col mb-5 mb-5 mb-xl-0">
              <div class="text-center mb-3">
                <img class="img-fluid rounded-circle mb-4 px-4" [src] = "'https://picsum.photos/id/'+(idx)+'/150/150'" alt="..." />
                <h5 class="fw-bolder">{{ customer.name }}</h5>
                <div class="fst-italic text-muted">{{ customer.email }}</div>
              </div>
            </div>
          }
        }
    </div>
  </div>
</section>

<!-- Testimonial 3 - Bootstrap Brain Component -->
<section class="bg-light py-5 py-xl-8">
  <div class="container">
    <div class="text-center">
      <h2 class="fw-bolder">Testimonials</h2>
      <p class="lead fw-normal text-muted mb-5">
        We deliver what we promise. See what clients are expressing about us.
      </p>
    </div>
  </div>

  <div class="container overflow-hidden">
    <div class="row gy-4 gy-md-0 gx-xxl-5">
       @if(loading){
          <div class="col-12 col-md-4">
              <div class="card h-100 shadow border-0">
                  <div class="card-body p-4">
                      <div class="shimmer-circle shimmer-circle-md shimmer-animate rounded-3 my-1" style="height:200px; width:100%;"></div>
                      <div class="profile">
                          <div class="profile-data">
                              <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                              <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                          </div>
                      </div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-4">
              <div class="card h-100 shadow border-0">
                  <div class="card-body p-4">
                      <div class="shimmer-circle shimmer-circle-md shimmer-animate rounded-3 my-1" style="height:200px; width:100%;"></div>
                      <div class="profile">
                          <div class="profile-data">
                              <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                              <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                          </div>
                      </div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-4">
              <div class="card h-100 shadow border-0">
                  <div class="card-body p-4">
                      <div class="shimmer-circle shimmer-circle-md shimmer-animate rounded-3 my-1" style="height:200px; width:100%;"></div>
                      <div class="profile">
                          <div class="profile-data">
                              <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                              <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                          </div>
                      </div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                  </div>
              </div>
          </div>
       }@else{
          @for (testimonial of content.testimonials; track testimonial; let idx = $index;) {
            <div class="col-12 col-md-4 mb-2">
              <div class="card border-0 border-bottom border-primary shadow-sm">
                <div class="card-body p-4 p-xxl-5">
                  <figure>
                    <img class="img-fluid rounded rounded-circle mb-4 border border-5" loading="lazy" [src] = "'https://picsum.photos/id/'+(idx)+'/150/150'" alt="">
                    <figcaption>
                      <div class="mb-3 mt-2">
                        <i class="bi bi-star text-warning me-2" *ngFor='let in of counter(idx) ;let i = index'></i>
                      </div>
                      <blockquote class="bsb-blockquote-icon mb-4">{{ testimonial.quote }}</blockquote>
                      <h4 class="mb-2">{{ testimonial.name }}</h4>
                      <h5 class="fs-6 text-secondary mb-0">{{ testimonial.position }}</h5>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          }
       }
    </div>
  </div>
</section>
