 <!-- Page Content-->
 <section class="py-5">
   <div class="container px-5 my-5">
     <div class="row gx-5 justify-content-center">
       <div class="col-lg-6">
         <div class="text-center mb-5">
            @if(loading){
              <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
              <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
              <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
            }@else{
              <h1 class="fw-bolder">{{ content.title }}</h1>
              <p class="lead fw-normal text-muted mb-0">{{ content.description }}</p>
            }
         </div>
       </div>
     </div>
     <div class="row gx-5">
       @if(loading){
        <div class="col-12">
            <div class="shimmer-wrapper text-center">
                <div class="shimmer-circle shimmer-circle-md shimmer-animate rounded-3 my-5" style="height:700px; width:100%;"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="shimmer-wrapper text-center">
                <div class="shimmer-circle shimmer-circle-md shimmer-animate rounded-3 my-5" style="height:400px; width:100%;"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="shimmer-wrapper text-center">
                <div class="shimmer-circle shimmer-circle-md shimmer-animate rounded-3 my-5" style="height:400px; width:100%;"></div>
            </div>
        </div>
       }@else{
        <div class="col-12"><img class="img-fluid rounded-3 mb-5" src="https://picsum.photos/id/18/1300/700"
            alt="..." /></div>
        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="https://picsum.photos/id/19/600/400"
            alt="..." /></div>
        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="https://picsum.photos/id/20/600/400"
            alt="..." /></div>
       }
     </div>
     <div class="row gx-5 justify-content-center">
       <div class="col-lg-6">
          @if(loading){
            <div class="text-center mb-5">
                <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
            </div>
          }@else{
            <div class="text-center mb-5">
                <p class="lead fw-normal text-muted">{{ content.description }}</p>
                <a class="text-decoration-none" [routerLink] = "['/portfolio']">
                  View project
                  <i class="bi-arrow-right"></i>
                </a>
              </div>
          }
       </div>
     </div>
   </div>
 </section>
