 <!-- Page Content-->
 <section class="py-5">
   <div class="container px-5">
     <h1 class="fw-bolder fs-5 mb-4">Company Blog</h1>
     <div class="card border-0 shadow rounded-3 overflow-hidden">
       <div class="card-body p-0">
         <div class="row gx-0">
           <div class="col-lg-6 col-xl-5 py-lg-5">
             <div class="p-4 p-md-5">
                @if(loading){
                  <div class="text-center">
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                  </div>
                }@else{

                    @for(reference of content.new_article.categories.split(","); track reference;){
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{ reference }}</div>
                    }

                    <div class="h2 fw-bolder">{{ content.new_article.title }}</div>
                    <p>{{ content.new_article.description }}</p>
                    <a class="stretched-link text-decoration-none" [routerLink] = "['/article', content.new_article.slug]">
                      Read more
                      <i class="bi bi-arrow-right"></i>
                    </a>
                }
             </div>
           </div>
           <div class="col-lg-6 col-xl-7">
              @if(loading){
                <div class="shimmer-wrapper text-center">
                    <div class="shimmer-animate" style="height:350px; width:100%;"></div>
                </div>
              }@else{
                <div class="bg-featured-blog"  style="background-image: url('https://picsum.photos/id/25/700/350')"></div>
              }
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <section class="py-5 bg-light">
   <div class="container px-5">
     <div class="row gx-5">
       <div class="col-xl-8">
         <h2 class="fw-bolder fs-5 mb-4">News</h2>
         @if(loading){
            <div class="mb-4">
                <div class="shimmer-wrapper">
                    <div class="profile">
                        <div class="shimmer-line shimmer-line-md shimmer-animate" style="height:3rem; width:4rem;"></div>
                        <div class="profile-data">
                            <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                            <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                        </div>
                    </div>
                    <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                    <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                </div>
            </div>
            <div class="mb-5">
                <div class="shimmer-wrapper">
                    <div class="profile">
                        <div class="shimmer-line shimmer-line-md shimmer-animate" style="height:3rem; width:4rem;"></div>
                        <div class="profile-data">
                            <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                            <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                        </div>
                    </div>
                    <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                    <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                </div>
            </div>
         }@else{
             @for (article of content.new_articles; track article; let idx = $index) {
                <div class="mb-4">
                  <div class="small text-muted">{{ dateConvert(article.createdAt) }}</div>
                  <a class="link-dark" [routerLink] = "['/article', article.slug]">
                    <h3>{{ article.title }}</h3>
                  </a>
                </div>
             }
         }
       </div>
       <div class="col-xl-4">
         <div class="card border-0 h-100">
            @if(loading){
              <div class="shimmer-wrapper text-center p-4">
                  <div class="shimmer-animate" style="height:350px; width:100%;"></div>
              </div>
            }@else{
              <div class="card-body p-4">
                  <div class="d-flex h-100 align-items-center justify-content-center">
                     <div class="text-center">
                         <div class="h6 fw-bolder">Contact</div>
                         <p class="text-muted mb-4">
                           For press inquiries, email us at
                           <br />
                           <a href="mailto:sandy.andryanto.dev@gmail.com">sandy.andryanto404&#64;gmail.com</a>
                         </p>
                         <div class="h6 fw-bolder">Follow me</div>
                          <a class="fs-5 px-2 link-dark" target="_blank" rel="noreferrer" href="https://t.me/sand40"><i class="bi-telegram"></i></a>
                          <a class="fs-5 px-2 link-dark" target="_blank" rel="noreferrer" href="https://www.facebook.com/sandyandryantz"><i class="bi-facebook"></i></a>
                          <a class="fs-5 px-2 link-dark" target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/sand404"><i class="bi-linkedin"></i></a>
                          <a class="fs-5 px-2 link-dark" target="_blank" rel="noreferrer" href="https://www.instagram.com/sandyandryanto"><i class="bi-instagram"></i></a>
                       </div>
                  </div>
                </div>
            }
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- Blog preview section-->
 <section class="py-5">
   <div class="container px-5">
     <h2 class="fw-bolder fs-5 mb-4">Featured Stories</h2>
     <div class="row gx-5">
        @if(loading){
          <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                  <div class="card-body p-4">
                      <div class="shimmer-circle shimmer-circle-md shimmer-animate rounded-3 my-1" style="height:200px; width:100%;"></div>
                      <div class="profile">
                          <div class="profile-data">
                              <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                              <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                          </div>
                      </div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                  <div class="card-body p-4">
                      <div class="shimmer-circle shimmer-circle-md shimmer-animate rounded-3 my-1" style="height:200px; width:100%;"></div>
                      <div class="profile">
                          <div class="profile-data">
                              <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                              <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                          </div>
                      </div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                  <div class="card-body p-4">
                      <div class="shimmer-circle shimmer-circle-md shimmer-animate rounded-3 my-1" style="height:200px; width:100%;"></div>
                      <div class="profile">
                          <div class="profile-data">
                              <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                              <div class="shimmer-line shimmer-line-br shimmer-line-full  shimmer-animate"></div>
                          </div>
                      </div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                      <div class="shimmer-line shimmer-line-br shimmer-line-full shimmer-animate"></div>
                  </div>
              </div>
          </div>
        }@else{
          @for (article of content.stories; track article; let idx = $index) {
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                  <img class="card-img-top" [src] = "'https://picsum.photos/id/'+(idx)+'/600/350'" alt="..." />
                  <div class="card-body p-4">

                    @for(reference of content.new_article.categories.split(","); track reference;){
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{ reference }}</div>
                    }

                  <a class="text-decoration-none link-dark stretched-link" [routerLink] = "['/article', article.slug]">
                    <div class="h5 card-title mb-3">{{ article.title }}</div>
                  </a>
                  <p class="card-text mb-0">{{ article.description }}</p>
                  </div>
                  <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                    <img class="rounded-circle me-3" width="50" [src]="article.gender === 'F' ? '/assets/female.png' : '/assets/male.png'" alt="..." />
                    <div class="small">
                      <div class="fw-bold">{{ article.first_name }} {{ article.last_name }}</div>
                      <div class="text-muted">{{ dateConvert(article.created_at) }}</div>
                    </div>
                    </div>
                  </div>
                  </div>
                </div>
            </div>
          }
        }
     </div>
        @if(continue && !loading){
          <div class="text-end mb-5 mb-xl-0">
            <a class="text-decoration-none" href="#" (click)="loadMore(); false">
              More stories
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        }
   </div>
 </section>
