<div class="container py-5">
  <div class="row h-100 justify-content-center align-items-center mt-5">
      <div class="col-md-7">
         @if(loading){
            <div class="shimmer-wrapper text-center">
                <div class="shimmer-circle shimmer-circle-md shimmer-animate rounded-3 my-5 w-100" style="height:40rem;"></div>
            </div>
         }@else{
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="p-2  text-center">
                        <i class="bi bi-person me-1"></i> Manage Profile
                    </h4>
                </div>
                <div class="card-body">

                  <div *ngIf="f.submitted && failed && messageFailed!= ''" class="alert alert-danger" role="alert">
                      {{ messageFailed }}
                  </div>

                  <div *ngIf="f.submitted && !failed && messageSuccess!= ''" class="alert alert-success" role="alert">
                      {{ messageSuccess }}
                  </div>

                    <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" method="POST" autocomplete="off">
                        <div class="row mt-4 mb-2 justify-content-center align-items-center">
                            @if(loadingUpload){
                              <div class="col-md-6">
                                  <div class="text-center">
                                    <h5>
                                        <small>Profile Picture</small>
                                    </h5>
                                    <div class="shimmer-wrapper text-center">
                                        <div class="shimmer-circle shimmer-circle-md shimmer-animate rounded-2 w-100" style="height:8rem;"></div>
                                    </div>
                                </div>
                              </div>
                            }@else {
                              <div class="col-md-6">
                                <div class="text-center">
                                    <h5>
                                        <small>Profile Picture</small>
                                    </h5>
                                    <img class="img-fluid rounded-3" src="{{image}}" alt="..." />
                                </div>
                                <div class="mb-3 mt-3">
                                    <input type="file" class="form-control" (change)="onChange($event)" #fileUpload name="file_image"/>
                                </div>
                            </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 mt-3">
                                    <label for="email" class="form-label">Email:</label>

                                    <input
                                        type="email"
                                        class="form-control"
                                        name="email"
                                        placeholder="Email Address"
                                        [(ngModel)]="form.email"
                                        required
                                        [email]="true"
                                        #email="ngModel"
                                        [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
                                    />

                                    <div *ngIf="email.errors && f.submitted" class="invalid-feedback">
                                      <div *ngIf="email.errors['required']">Email Address is required</div>
                                      <div *ngIf="email.errors['email']">Please provide a valid email address</div>
                                    </div>

                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="first_name" class="form-label">First Name:</label>

                                    <input
                                      type="text"
                                      class="form-control"
                                      name="first_name"
                                      placeholder="First Name"
                                      [(ngModel)]="form.first_name"
                                      required
                                      #first_name="ngModel"
                                      [ngClass]="{ 'is-invalid': f.submitted && first_name.errors }"
                                    />

                                    <div *ngIf="first_name.errors && f.submitted" class="invalid-feedback">
                                      <div *ngIf="first_name.errors['required']">First name is required</div>
                                    </div>

                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="gender" class="form-label">Gender:</label>
                                    <select class="form-control" name="gender" id="gender" [(ngModel)]="form.gender" #gender="ngModel">
                                        <option disabled value="" [selected]="form.gender === '' ? true:false">Select Gender</option>
                                        <option value="M" [selected]="form.gender === 'M' ? true:false">Male</option>
                                        <option value="F" [selected]="form.gender === 'F' ? true:false">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 mt-3">
                                    <label for="phone" class="form-label">Phone Number:</label>

                                    <input
                                      type="text"
                                      class="form-control"
                                      name="phone"
                                      placeholder="Phone Number"
                                      [(ngModel)]="form.phone"
                                      required
                                      #phone="ngModel"
                                      [ngClass]="{ 'is-invalid': f.submitted && phone.errors }"
                                    />

                                    <div *ngIf="phone.errors && f.submitted" class="invalid-feedback">
                                      <div *ngIf="phone.errors['required']">Phone number is required</div>
                                    </div>

                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="last_name" class="form-label">Last Name:</label>

                                    <input
                                      type="text"
                                      class="form-control"
                                      name="last_name"
                                      placeholder="Last Name"
                                      [(ngModel)]="form.last_name"
                                      required
                                      #last_name="ngModel"
                                      [ngClass]="{ 'is-invalid': f.submitted && last_name.errors }"
                                    />

                                    <div *ngIf="last_name.errors && f.submitted" class="invalid-feedback">
                                      <div *ngIf="last_name.errors['required']">Last name is required</div>
                                    </div>

                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="country" class="form-label">Country:</label>
                                    <select class="form-control" name="country" id="country" [(ngModel)]="form.country" #gender="ngModel">
                                        <option disabled value="" [selected]="form.country === '' ? true:false">Select Country</option>
                                        <option *ngFor="let country of countries;" value="{{ country }}"  [selected]="form.country === country ? true:false">{{ country }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Address:</label>
                            <textarea class="form-control" name="address" placeholder="Address"  [(ngModel)]="form.address" #address="ngModel" rows="4"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="about" class="form-label">About Me:</label>
                            <textarea class="form-control" name="aboutMe" placeholder="About Me"  [(ngModel)]="form.aboutMe" #about_me="ngModel" rows="4"></textarea>
                        </div>

                        @if(loadingSubmit){
                          <button type="submit" class="btn btn-success disabled" bbbTooltipTheme='dark' bbbTooltipPlacement='vertical' bbbTooltip='Update Profile'>
                              <i class="spinner-border spinner-border-sm me-1"></i> Save Changed
                          </button>
                        }@else {
                          <button type="submit" class="btn btn-success" bbbTooltipTheme='dark' bbbTooltipPlacement='vertical' bbbTooltip='Update Profile'>
                              <i class="bi bi-save me-1"></i> Save Changed
                          </button>
                        }

                        <button type="reset" class="ms-1 text-white btn btn-warning" bbbTooltipTheme='dark' bbbTooltipPlacement='vertical' bbbTooltip='Reset Form'>
                            <i class="bi bi-arrow-clockwise me-1"></i> Reset Form
                        </button>
                    </form>
                </div>
            </div>
         }
      </div>
  </div>
</div>
